<div class="input-group" ng-hide="to.hide" >
    <input class="form-control text-center" id="{{id}}_lat" name="lat" ng-model="model[options.key]['lat']" placeholder="{{to.placeholder.lat}}" ng-readonly="{{to.readOnly}}" ng-disabled="to.disabled" type="text">
    <span class="input-group-addon {{to.separator.bgClassName}}" style="min-width:38px;border-right:0;border-left:0;min-height:34px;{{to.separator.style}}" ng-click="to.separator.click(id)" title="{{to.separator.title}}">
        <i class="{{to.separator.className}}" ng-if="to.separator.className"></i>
        <span ng-if="to.separator.text">{{to.separator.text}}</span>
    </span>
    <input class="form-control text-center" id="{{id}}_lng" name="lng" ng-model="model[options.key]['lng']" placeholder="{{to.placeholder.lng}}" ng-readonly="{{to.readOnly}}" ng-disabled="to.disabled" type="text">
</div>
