<div class="form-group">
    <input class="form-control show text-center nslFormlyDatepicker" data-provide="{{to.readOnly || to.disabled ? '' : 'datepicker'}}" ng-model="model[options.key]" placeholder="{{to.placeholder}}" ng-readonly="{{to.readOnly}}" ng-disabled="to.disabled" type="text" data-date-format="{{to.datepicker.format || 'yyyy-mm-dd'}}" data-date-language="{{to.datepicker.language}}" data-date-weekstart="{{to.datepicker.weekStart}}">
    <span class="{{to.feedback.className}} form-control-feedback">{{to.feedback.text}}</span>
</div>