<div ng-hide="to.hide">
    <fieldset>
    <legend>{{to.label}}</legend>
        <!--loop through each element in model array-->
        <div class="{{hideRepeat}}">
            <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
                <formly-form fields="fields" model="element" form="form"></formly-form>

                <div style="margin-bottom:20px;" class="{{to.removeBtn.className}}">
                    <button type="button" title="{{to.removeBtn.title}}" class="btn btn-danger btn-o" ng-click="removeItem($index)">
                        <span class="{{to.removeBtn.spanClassName}}">
                            {{to.removeBtn.text}}
                        </span>
                    </button>
                </div>
                <hr>
            </div>

            <p>
                <button ng-repeat="button in to.buttons" type="button" ng-class="button.className" ng-click="button.click($event)" ng-bind-html="button.text" title="{{button.title}}" class="btn"></button>
            </p>
        </div>
    </fieldset>
</div>
