<div class="form-group">
    <select class="form-control" ng-model="model[options.key]" ng-readonly="{{to.readOnly}}" ng-disabled="{{to.disabled}}">
        <option ng-repeat="(key, option) in to.options" ng-if="(!to.readOnly && !to.disabled) || option[to.valueProp || 'value'] === options.defaultValue" ng-value="option[to.valueProp || 'value']" ng-selected="options.defaultValue==option[to.valueProp || 'value']">{{option[to.labelProp || 'name']}}</option>
    </select>
    <span class="{{to.feedback.className}} form-control-feedback">{{to.feedback.text}}</span>
</div>

  <ui-select ng-model="address.selected"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false"
             style="width: 300px;">
    <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
      <small>
        email: {{person.email}}
        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      </small>
    </ui-select-choices>
  </ui-select>