<div>
    <fieldset>
    <legend>{{to.label}}</legend>
        <!--loop through each element in model array-->
        <div class="{{hideRepeat}}">
            <div class="sortable-container" sv-root sv-on-sort="" sv-part="model[options.key]">
                <div class="repeatsection" ng-repeat="element in model[options.key]" sv-element="opts" ng-init="fields = copyFields(to.fields)">
                    <div class="input-group sortable-element">
                        <div class="btn-primary bg-primary input-group-addon" sv-handle> {{$index + 1}}. </div>
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix" ng-show="{{to.panel.header.show}}">
                                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                                        <span ng-show="{{to.panel.header.orderNum}}" ng-bind-html="getPanelHeader($index)"></span>
                                    </h4>
                                    <button type="button" ng-click="element.open = !element.open" class="btn btn-link pull-right"><span class="glyphicon icon" ng-class="{'glyphicon-chevron-up':element.open,'glyphicon-chevron-down':!element.open}"></span></button>
                                </div>
                                <div class="panel-body" ng-show="element.open || {{!to.panel.header.show}}">
                                    <formly-form fields="fields" model="element" form="form"></formly-form>
                                    <div style="margin-bottom:20px;" class="{{to.removeBtn.className}}">
                                        <button type="button" class="btn btn-danger" ng-click="model[options.key].splice($index, 1)">
                                            <span class="{{to.removeBtn.spanClassName}}"> {{to.removeBtn.text}} </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="AddNewButton">
                <button type="button" class="btn btn-primary" ng-click="addNew()" > {{to.addBtnText}} </button>
            </p>
        </div>
    </fieldset>
</div>
